/* Preloader.css */
.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  
  .preloader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  .heading-loader{
    background: -webkit-linear-gradient(#ff1616, #2f2f2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:40px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}