html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Helvetica;
}

.App {
  text-align: center;
  font-family: 'Helvetica Neue Condensed';
  
}
section {
  min-height: 100vh;
  width:auto;
  scroll-snap-align:start;
  overflow: hidden;
}

